<h2>Purchase Details</h2>
<table class="tablesorter" style='width: 900px;'>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Amount</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% PurchaseDetail.find(:all, :conditions => {:purchase_id => @purchase_id}).each { |details| %>
    <tr>
      <td><%=details.item.description %></td>
      <td><%=details.quantity %> </td>
      <td><%=details.rate %></td>
      <td><%=details.amount %> </td>
      <td><a href="edit/<%=details.id%>">Edit</a></td>
    </tr>
    <% } %>
  </tbody>
</table>