<h2>Consumption List</h2>

<table class="tablesorter" style='width: 900px;'>
  <thead>
    <tr>
      <th>Consume Date</th>
      <th>Products</th>
      <th>Quantity</th>
      <th>For Unit</th>
      <th>User</th>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% Consumption.find(:all, :order => "consume_date desc, id desc").each {|consumption| %>
      <tr>
        <td><%=consumption.consume_date%></td>
        <%  x=Item.find(:all,:conditions => {:id => consumption.product_id}).first  %>
          <td><%=x.description%></td>
          <td><%=consumption.quantity%></td>
          <td><%=consumption.for_unit%></td>
          <td><%=consumption.user%></td>
          <td><a href="view/<%=consumption.id%>">Edit</a></td>
        </tr>
      <% } %>
    </tbody>
  </table>